:root{
    --primary-color:  #FFE602;
    --secondary-color: #F51212;
    --badges-color: #054CAE;
    --black-color: #000;
    --white-color: #fff;
    --text-color: #333;
    --normal-font: 1.4rem;
    --title-font: 1.6rem;
    --semi-font:1.8rem;
    --heading-font: 2.4rem;
    --small-font: 1.2rem;
    --border-radius: 5px;
    --border-color: #f1f1f1;
    --hover-color: #2589ff;
}
.btn{
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}